body{
    background-color: #528657;
    font-family: 'Merriweather'; color: #E4DEDC;
}

.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }
  .titulo-receitando {
    font-size: 40px; /* Tamanho maior */
    border-bottom: none; /* Remover linha embaixo */
    padding-bottom: 0; /* Remover espaçamento embaixo */
}
.titulo-receitando:after {
    content: none; /* Remove a linha após o h1 */
}

  h1{
    font-size: 30px;
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: #E4DEDC
  }
  p{
    margin-bottom:15px;
  }
   
  .content p:first-child{
    margin: 0px;
  }
  /* Estilo para o h2 */
h2 {
    font-size: 18px; /* Tamanho menor */
    margin-top: 5px; /* Margem superior */
}
/* Estilo para o placeholder */
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: #528657; /* Cor do placeholder */
    font-size: 15px;
    font-weight: bold;
}
   
  label{
    color: #E4DEDC;
    position: relative;
  }
  /* placeholder */
::-webkit-input-placeholder  {
    font-family: 'Merriweather'; 
    color: #E4DEDC
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    font-family: 'Merriweather'; 
    color: #E4DEDC

  }
  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #e0e0e0;
   
    -webkit-border-radius: 3px;
    border-radius: 20px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #E4DEDC;
    padding: 8px 5px;
    color: #528657;
    font-size: 20px;  
    border: 1px solid #528657;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #494949;
    font-family: 'Merriweather'; 
    -webkit-border-radius: 5px;
    border-radius: 20px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit no hover */
  input[type="submit"]:hover{
    background: #528657;
  }
  .link{
    position: absolute;
    color: #E4DEDC;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: center;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  .center {
    text-align:center;
  }
.container {
  padding: 0px 50px;
}
  .link a {
    color: #E4DEDC;
    font-weight: bold;
    padding: 6px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
    background: #528657;
    color: #E4DEDC
  }
  .boasvindas{
    margin-bottom: 100px;
    margin-top: 100px;
    
  }
  #cadastro, 
#login{
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #528657;
   
  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}
/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
   
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
  /* Estilo para o ícone de e-mail */

